[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "plugin/box2d/3rdparty/Box2D"]
	path = plugin/box2d/3rdparty/Box2D
	url = https://github.com/erincatto/Box2D.git
[submodule "3rdparty/freetype"]
	path = 3rdparty/freetype
	url = git://git.savannah.gnu.org/freetype/freetype2.git
[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rdparty/glbinding"]
	path = 3rdparty/glbinding
	url = https://github.com/hpicgs/glbinding.git
[submodule "3rdparty/libpng"]
	path = 3rdparty/libpng
	url = git://git.code.sf.net/p/libpng/code
[submodule "3rdparty/SDL2"]
	path = 3rdparty/SDL2
	url = https://github.com/spurious/SDL-mirror.git
[submodule "3rdparty/cute_headers"]
	path = 3rdparty/cute_headers
	url = https://github.com/RandyGaul/cute_headers.git
[submodule "3rdparty/glslang"]
	path = 3rdparty/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "3rdparty/libjpeg-turbo"]
	path = 3rdparty/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "3rdparty/libyaml"]
	path = 3rdparty/libyaml
	url = https://github.com/yaml/libyaml.git
[submodule "3rdparty/libzip"]
	path = 3rdparty/libzip
	url = https://github.com/nih-at/libzip.git
[submodule "3rdparty/stb"]
	path = 3rdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "3rdparty/tinyxml2"]
	path = 3rdparty/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "3rdparty/zlib"]
	path = 3rdparty/zlib
	url = https://github.com/madler/zlib.git
[submodule "plugin/python/3rdparty/Python"]
	path = plugin/python/3rdparty/Python
	url = https://github.com/python/cpython.git
[submodule "plugin/assimp/3rdparty/assimp"]
	path = plugin/assimp/3rdparty/assimp
	url = https://github.com/assimp/assimp.git
