[submodule "plugin/python/3rdparty/Python"]
	path = plugin/python/3rdparty/Python
	url = https://github.com/python/cpython.git
[submodule "plugin/audio-android/3rdparty/oboe"]
	path = plugin/audio-android/3rdparty/oboe
	url = https://github.com/google/oboe.git
[submodule "plugin/noise/3rdparty/FastNoise2"]
	path = plugin/noise/3rdparty/FastNoise2
	url = https://github.com/Auburn/FastNoise2.git
[submodule "plugin/cmft/3rdparty/cmft"]
	path = plugin/cmft/3rdparty/cmft
	url = https://github.com/dariomanesku/cmft.git
[submodule "plugin/optick/3rdparty/optick"]
	path = plugin/optick/3rdparty/optick
	url = https://github.com/bombomby/optick.git
[submodule "plugin/sdl3/3rdparty/SDL_shadercross"]
	path = plugin/sdl3/3rdparty/SDL_shadercross
	url = https://github.com/libsdl-org/SDL_shadercross.git
